 <template>
  <div id="CatalogoTienda">
    <!-- Inicio. Agendar hora dialog -->
    <AgendarHoraDialog
      v-if="agendarState"
      :dialog="agendarState"
      :servicio="currentServicio"
      :catalogo="catalogos"
      @close="agendarState = false"
    ></AgendarHoraDialog>
    <!-- Fin. Agendar hora dialog -->

    <v-container>
      <div class="text-button pt-6 pb-6" style="font-size: 2rem !important">
        <v-btn icon class="c-primary-text" link @click="$router.go(-1)">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
        Catalogo
      </div>

      <Loader v-if="loading" class="ma-8"></Loader>
      <div v-else>
        <div v-if="catalogos.length != 0">
          <v-row class="fill-height" align="center" justify="center">
            <template v-for="(catalogo, i) in catalogos">
              <v-col :key="i" cols="12" md="4">
                <v-hover v-slot="{ hover }">
                  <v-card
                    :elevation="hover ? 12 : 2"
                    @click="agendarHora(catalogo)"
                  >
                    <v-img
                      :src="img(catalogo.img)"
                      class="white--text align-end"
                      gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                      height="225px"
                    >
                      <v-expand-transition>
                        <div
                          v-if="hover"
                          class="
                            d-flex
                            flex-column
                            transition-fast-in-fast-out
                            black
                            darken-2
                            v-card--reveal
                            text-h2
                            white--text
                          "
                          style="height: 50%"
                        >
                          <div class="pr-4 pl-4 pb-2 pt-2">
                            <div class="text-button justify-text">
                              {{ catalogo.nombre }}
                            </div>
                            <div class="text-caption justify-text">
                              Por {{ catalogo.personal.nombre }}
                              {{ catalogo.personal.apellido_paterno }}
                            </div>
                            <div class="text-caption justify-text">
                              $ {{ catalogo.precio }} <i>*precio referencial</i>
                            </div>
                            <div class="text-caption justify-text">
                              {{ catalogo.tiempo }} min.
                            </div>
                          </div>
                        </div>
                      </v-expand-transition>
                      <v-card-title
                        v-text="catalogo.nombre"
                        class="text-button"
                      ></v-card-title>
                    </v-img>
                  </v-card>
                </v-hover>
              </v-col>
            </template>
          </v-row>
        </div>
        <div v-else>
          <v-row justify="center">
            <v-col cols="12">
              <v-card class="pa-8 text-button text-center">
                No existe ningun servicio.
              </v-card>
            </v-col>
          </v-row>
        </div>
      </div>
    </v-container>
  </div>
</template>
 
 <script>
import ServiciosService from "../../../services/servicios.service";
import AgendarHoraDialog from "../../../components/dialogs/agendar_hora.form.vue";
import { API_IMG } from "../../../helpers/_api";
import Loader from "../../../components/loaders/circular";
import UserMixin from "../../../mixins/user.mixin";
import NotificationMixin from "../../../mixins/notification.mixin";
export default {
  name: "CatalogoTienda",
  components: {
    Loader,
    AgendarHoraDialog,
  },
  mixins: [UserMixin, NotificationMixin],
  data: function () {
    return {
      catalogos: [],
      loading: true,
      agendarState: false,
      currentServicio: null,
    };
  },
  created: function () {
    ServiciosService.getServicios(this.$route.params.idTienda).then(
      (data) => {
        this.catalogos = data;
        this.loading = false;
      },
      () => {
        this.error("Error al cargar servicios");
        this.loading = false;
      }
    );
  },
  methods: {
    img(img) {
      return API_IMG(img);
    },
    agendarHora(servicio) {
      if (!this.existCliente()) {
        this.warning("Inicie sesión para agendar una hora");
        return false;
      }
      this.currentServicio = servicio;
      this.agendarState = true;
    },
  },
};
</script>
 
 <style>
.v-card--reveal {
  align-items: left;
  bottom: 0;
  justify-content: bottom;
  opacity: 1;
  position: absolute;
  width: 100%;
}
</style>