 <template>
  <div class="ma-8">
    <v-card class="pa-4">
      <v-card-title>
        <span class="text-button" style="font-size: 1.2rem !important"
          >Modificar cuenta</span
        >
      </v-card-title>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <div class="pa-4">
            <div class="text-start text-button">Información personal</div>
            <v-text-field
              label="Rut"
              v-model="account.rut"
              :rules="rutRule('rut')"
            ></v-text-field>
            <v-text-field
              label="Nombre"
              v-model="account.nombre"
              :rules="personRule('nombre')"
            ></v-text-field>
            <v-text-field
              label="Apellido Paterno"
              v-model="account.apellido_paterno"
              :rules="personRule('apellido paterno')"
            ></v-text-field>
            <v-text-field
              label="Apellido Materno"
              v-model="account.apellido_materno"
              :rules="personRule('apellido materno')"
            ></v-text-field>
            <v-text-field
              label="Telefóno"
              v-model="account.telefono"
              :rules="phoneRule('telefono')"
            ></v-text-field>
            <div class="text-start text-button mt-2">Cuenta</div>
            <v-text-field
              label="Email"
              v-model="account.email"
              :rules="emailRule('email')"
            ></v-text-field>
            <v-text-field
              label="Contraseña"
              v-model="account.password"
              :type="show ? 'text' : 'password'"
              :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="show = !show"
            ></v-text-field>
          </div>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn dark depressed color="deep-purple" @click="submit()"
          >Guardar</v-btn
        >
      </v-card-actions>
    </v-card>
  </div>
</template>
 
 <script>
import UserMixin from "../../../mixins/user.mixin";
import NotificationMixin from "../../../mixins/notification.mixin";
import validacionesMixinVue from "../../../mixins/validaciones.mixin.vue";
export default {
  name: "Perfil",
  mixins: [UserMixin, NotificationMixin, validacionesMixinVue],
  data() {
    return {
      show: false,
      account: {
        id: "",
        type: "",
        rut: "",
        nombre: "",
        apellido_paterno: "",
        apellido_materno: "",
        telefono: "",
        email: "",
        password: "",
      },
    };
  },
  methods: {
    submit() {
      var isValid = this.validateField(this.$refs.form);
      if (isValid) {
        this.$store.dispatch("auth/update", this.account).then(
          () => {
            this.$store.commit("auth/updateData");
            this.success("Cuenta editada!");
          },
          () => {
            this.error("Ha ocurrido un error");
          }
        );
      } else {
        this.error("Formulario invalido");
      }
    },
  },
  mounted() {
    this.account.email = this.user.email;

    var userData = "";
    if (this.user.type == 2) {
      userData = this.user.cliente;
    } else if (this.user.type == 1) {
      userData = this.user.propietario;
    } else if (this.user.type == 3) {
      userData = this.user.personal;
    }
    this.account.id = this.user.id;
    this.account.type = this.user.type;
    this.account.rut = userData.rut;
    this.account.nombre = userData.nombre;
    this.account.apellido_paterno = userData.apellido_paterno;
    this.account.apellido_materno = userData.apellido_materno;
    this.account.telefono = userData.telefono;
  },
};
</script>

<style>
</style>