 <template>
  <div id="ClienteMenu">
    <div class="mt-4 mr-16 ml-16">
      <v-row>
        <v-col cols="12" sm="10">
          <v-text-field
            solo
            dense
            label="Busca un barbería, peluquería, o salón de belleza"
            prepend-inner-icon="mdi-magnify"
            color="deep-purple"
            v-model="filterName"
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="2">
          <v-menu
            offset-y
            :close-on-content-click="false"
            v-model="menu"
            @click="menu = true"
            color="white"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                class="c-primary-button"
                dark
                block
                v-bind="attrs"
                v-on="on"
              >
                <v-icon>mdi-filter</v-icon>
              </v-btn>
            </template>
            <v-card>
              <v-list>
                <v-list-item-group
                  multiple
                  active-class="deep-purple--text text--accent-4"
                  color="deep-purple"
                >
                  <v-radio-group v-model="filter">
                    <v-radio class="ma-2" :label="'Todos'" :value="0"></v-radio>
                    <v-radio
                      class="ma-2"
                      v-for="(item, index) in items"
                      :key="index"
                      :label="item.tipo"
                      :value="item.id"
                    ></v-radio>
                  </v-radio-group>
                </v-list-item-group>
              </v-list>
            </v-card>
          </v-menu>
        </v-col>
      </v-row>
    </div>

    <Loader v-if="loading"></Loader>
    <div v-else>
      <div v-if="tiendas.length != 0">
        <v-card
          class="ma-8 mr-15 ml-16"
          v-for="(tienda, index) in filterTiendas"
          :key="index"
          @click="
            $router
              .push({
                name: 'Cliente.VerTienda',
                params: { idTienda: tienda.id },
              })
              .catch(() => {})
          "
        >
          <v-row class="ma-0">
            <v-col class="text-h2 ma-0 pa-0" md="4" xs="12">
              <v-img
                cover
                class="ma-0 pa-0 imgTienda"
                :src="img(tienda.img)"
                height="300"
              ></v-img>
            </v-col>
            <v-col md="8" xs="12">
              <v-card-title
                class="text-button"
                style="font-size: 1.2rem !important"
              >
                <v-icon
                  class="mr-4"
                  style="color: orange"
                  size="34px"
                  v-if="tienda.estado_premium == 1"
                  >mdi-star</v-icon
                >
                {{ tienda.nombre }}</v-card-title
              >
              <v-card-subtitle class="text-overline">{{
                tienda.tipo_establecimiento.tipo
              }}</v-card-subtitle>
              <v-card-text>
                <v-row align="center" class="mx-0">
                  <v-rating
                    :value="tienda.promedio"
                    color="amber"
                    dense
                    half-increments
                    readonly
                    size="20"
                  ></v-rating>
                </v-row>

                <div class="mt-8 text-overline">
                  <v-icon>mdi-map-marker</v-icon>
                  {{ tienda.direccion.nombre }} #{{ tienda.direccion.numero }},
                  {{ tienda.direccion.ciudad }}, {{ tienda.direccion.region }}
                </div>

                <div class="text-justify mt-4">
                  {{ tienda.descripcion }}
                </div>
              </v-card-text>
            </v-col>
          </v-row>
        </v-card>
      </div>
      <div v-else>
        <v-card class="ma-12">
          <div class="pa-8 text-button text-center">
            No se encontro ningun establecimiento activo en el sistema.
          </div>
        </v-card>
      </div>
    </div>
  </div>
</template>
 
 <script>
import EstablecimientoService from "../../../services/establecimiento.service";
import { API_IMG } from "../../../helpers/_api";
import Loader from "../../../components/loaders/circular";

export default {
  name: "ClienteTiendas",
  components: {
    Loader,
  },
  data: function () {
    return {
      filter: 0,
      filterName: "",
      show: false,
      menu: false,
      loading: true,
      items: [],
      selection: 1,
      tiendas: [],
    };
  },
  methods: {
    img(img) {
      return API_IMG(img);
    },
    filterByName(tiendas) {
      return tiendas.filter((tienda) =>
        tienda.nombre.toLowerCase().includes(this.filterName.toLowerCase())
      );
    },
    filterByType(tiendas) {
      if (this.filter == 0) {
        return tiendas;
      } else {
        return tiendas.filter(
          (tienda) => tienda.tipo_establecimiento_id == this.filter
        );
      }
    },
  },
  mounted() {
    EstablecimientoService.getEstablecimientos().then((data) => {
      this.tiendas = data;
      this.loading = false;
    });
    EstablecimientoService.getTiposEstablecimientos().then((data) => {
      this.items = data;
      this.loading = false;
    });
  },
  computed: {
    filterTiendas() {
      return this.filterByName(this.filterByType(this.tiendas));
    },
  },
};
</script>
 
 <style>
.imgTienda {
  height: 100%;
  width: 100%;
}
</style>