 <template>
  <div id="VerTienda">
    <v-dialog v-model="dialog" width="800" @click:outside="close()">
      <v-card>
        <v-toolbar class="c-gradient" dark
          >Valora tu experiencia con la tienda</v-toolbar
        >
        <v-card-text>
          <div class="font-weight-light pt-12">
            Porque sabemos lo importante que es tu opinión, cuentanos de tu
            experiencia valorando la tienda "{{ tienda.nombre }}".
          </div>
        </v-card-text>

        <v-card-text>
          <v-form ref="form" lazy-validation>
            <v-row>
              <v-col cols="12" sm="12" md="12">
                <v-row justify="center" align="center">
                  <v-rating
                    v-model="valoracion.puntuacion"
                    background-color="amber accent-4"
                    color="amber accent-4"
                    dense
                    half-increments
                    hover
                    size="61"
                  ></v-rating>
                  <span class="font-weight-light text-h5">
                    ({{ valoracion.puntuacion }})
                  </span>
                </v-row>
              </v-col>
            </v-row>
            <v-spacer></v-spacer>
            <v-row>
              <v-col cols="12" sm="12" md="12">
                <v-textarea
                  v-model="valoracion.comentario"
                  auto-grow
                  filled
                  label="Añade un comentario"
                  rows="4"
                  :rules="descriptionRule('comentario')"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn text @click="close()" class="c-primary-text">Cerrar</v-btn>
          <v-spacer></v-spacer>
          <v-btn text @click="agregarValoracion()" class="c-primary-text"
            >Agregar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <Loader v-if="loading" class="ma-4"></Loader>
    <v-row justify="center" v-else>
      <v-col md="8" xs="12">
        <v-card class="ma-6 card-outter" height="100%">
          <template slot="progress">
            <v-progress-linear
              color="deep-purple"
              height="10"
              indeterminate
            ></v-progress-linear>
          </template>

          <v-img height="250" :src="img(tienda.img)"></v-img>

          <v-card-title
            class="text-button"
            style="font-size: 1.2rem !important"
            >{{ tienda.nombre }}</v-card-title
          >
          <v-card-subtitle class="text-overline">{{
            tienda.tipo_establecimiento.tipo
          }}</v-card-subtitle>

          <v-card-text
            ><div class="text-justify mt-2">
              {{ tienda.descripcion }}
            </div>
          </v-card-text>

          <v-row align="end" justify="end" class="card-actions" no-gutters>
            <v-col cols="12">
              <v-divider class="mx-4 ma-3"></v-divider>
              <v-row class="mx-0 ma-3" justify="space-between">
                <v-col cols="12">
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      :disabled="!existCliente()"
                      class="c-primary-text"
                      @click="dialog = true"
                      text
                    >
                      Agregar valoración
                    </v-btn>
                    <v-btn
                      class="c-primary-text"
                      text
                      link
                      @click="
                        $router
                          .push({
                            name: 'Cliente.CatalogoTienda',
                            params: { idTienda: tienda.id },
                          })
                          .catch(() => {})
                      "
                    >
                      Ver catalogo
                    </v-btn>
                  </v-card-actions>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col md="4" xs="12">
        <v-card class="ma-6 ml-0 card-outter" height="100%">
          <div class="pa-4">
            <div
              class="text-button text-center"
              style="font-size: 1.2rem !important"
            >
              Valoración
            </div>
            <div class="d-flex justify-space-around pb-4">
              <v-rating
                background-color="orange lighten-3"
                color="orange"
                empty-icon="mdi-star-outline"
                full-icon="mdi-star"
                half-icon="mdi-star-half-full"
                length="5"
                size="40"
                half-increments
                dense
                :value="tienda.promedio"
                readonly
              ></v-rating>
            </div>
            <v-divider></v-divider>
            <div class="pa-2">
              <div class="text-button">Dirección</div>
              <div class="text-caption">
                <v-icon>mdi-map-marker</v-icon>
                {{ tienda.direccion.nombre }} #{{ tienda.direccion.numero }},
                {{ tienda.direccion.ciudad }}, {{ tienda.direccion.region }}
              </div>
              <div class="text-button mt-4">Telefóno</div>
              <div class="text-caption">
                <v-icon>mdi-phone</v-icon> <a v-bind:href="'https://api.whatsapp.com/send?phone=+'+tienda.telefono">{{ tienda.telefono }}</a>
              </div>
              <div class="text-button mt-4">Capacidad</div>
              <div class="text-caption">
                <v-icon>mdi-account-multiple</v-icon> {{ tienda.capacidad }}
              </div>
              <div class="text-button mt-4">Horario</div>
              <div class="text-caption">
                <v-icon>mdi-clock</v-icon> {{ tienda.hora_inicio }} :  {{ tienda.hora_fin }}
              </div>
            </div>
          </div>
        </v-card>
      </v-col>
      <v-col cols="12">
        <v-card class="pa-8 ma-6 card-outter">
          <div class="text-button mb-2" style="font-size: 1.2rem !important">
            Comentarios
          </div>
          <div
            class="text-overline mt-2"
            v-if="tienda.puntuaciones.length == 0"
          >
            No se encontraron comentarios.
          </div>
          <div v-else>
            <v-list three-line>
              <template v-for="(item, index) in tienda.puntuaciones">
                <v-list-item :key="index" class="pa-0">
                  <v-list-item-content>
                    <v-list-item-title class="text-overline">
                      <v-row justify="space-between">
                        <v-col cols="12" lg="4" class="pb-sm-0 pb-lg-4">
                          {{ item.cliente.nombre }}
                          {{ item.cliente.apellido_paterno }}
                        </v-col>
                        <v-col cols="12" lg="1" class="pt-sm-1 pt-lg-4">
                          <v-rating
                            background-color="orange lighten-3"
                            color="orange"
                            empty-icon="mdi-star-outline"
                            full-icon="mdi-star"
                            half-icon="mdi-star-half-full"
                            length="5"
                            size="18"
                            dense
                            half-increments
                            :value="item.puntuacion"
                            readonly
                          ></v-rating>
                        </v-col> </v-row
                    ></v-list-item-title>
                    <v-list-item-subtitle class="text-justify mt-2">
                      {{ item.comentario }}
                    </v-list-item-subtitle>
                    <v-list-item-subtitle
                      class="
                        text-start text--disabled text-caption
                        mt-4
                        font-italic
                      "
                    >
                      {{ item.created_at | moment("DD-MM-YYYY, hh:mm") }}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-divider
                  :key="'separator-' + index"
                  v-if="index < tienda.puntuaciones.length - 1"
                ></v-divider>
              </template>
            </v-list>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
 
 <script>
import EstablecimientoService from "../../../services/establecimiento.service";
import PuntuacionService from "../../../services/puntuacion.service";
import { API_IMG } from "../../../helpers/_api";
import Loader from "../../../components/loaders/circular";
import NotificationMixin from "../../../mixins/notification.mixin";
import validacionesMixinVue from "../../../mixins/validaciones.mixin.vue";
export default {
  name: "VerTienda",
  components: {
    Loader,
  },
  mixins: [NotificationMixin, validacionesMixinVue],
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },

  data: function () {
    return {
      loading: true,
      dialog: false,
      valoracion: {
        puntuacion: 0,
        comentario: "",
        cliente_id: "",
      },
      tienda: [],
    };
  },
  created: function () {
    if (this.existCliente()) {
      this.valoracion.cliente_id = this.currentUser.user.cliente.id;
    }
    EstablecimientoService.getEstablecimiento(this.$route.params.idTienda).then(
      (data) => {
        this.tienda = data;
        this.loading = false;
      }
    );
  },
  methods: {
    close() {
      this.valoracion = {
        puntuacion: 0,
        comentario: "",
      };
      this.dialog = false;
    },
    existCliente() {
      if (this.currentUser != null) {
        if (this.currentUser.user.type == 2) {
          return true;
        } else {
          return false;
        }
      } else {
        return false;
      }
    },
    img(img) {
      return API_IMG(img);
    },
    agregarValoracion() {
      var isValid = this.validateField(this.$refs.form);
      if (isValid) {
        PuntuacionService.store(
          this.valoracion,
          this.$route.params.idTienda
        ).then(
          (data) => {
            this.tienda.puntuaciones.push(data);
            this.success("Se ha agregado la puntuación!");
          },
          () => {
            this.error("Ha ocurrido un error");
          }
        );
        this.dialog = false;
      } else {
        this.error("Formulario invalido");
      }
    },
  },
};
</script>
 
 <style>
.card-outter {
  position: relative;
  padding-bottom: 50px;
}
.card-actions {
  position: absolute;
  bottom: 0;
  width: 100%;
}
</style>