<template>
  <div class="ma-8">
    <!-- Start. store dialog -->
    <EstablecimientoDialog
      v-if="storeState"
      :dialog="storeState"
      :isEdit="false"
      :id="current.propietario.id"
      @updateData="update"
      @close="storeState = false"
    ></EstablecimientoDialog>
    <!-- end. store dialog -->

    <!-- Start. edit dialog -->
    <EstablecimientoDialog
      v-if="editState"
      :dialog="editState"
      :isEdit="true"
      :id="current.establecimiento.propietario_id"
      :data="establecimiento"
      @updateData="update"
      @close="editState = false"
    ></EstablecimientoDialog>
    <!-- end. edit dialog -->

    <Loader v-if="loading"></Loader>
    <div v-else>
      <div v-if="establecimiento.length != 0">
        <v-row>
          <v-col md="12">
            <v-card class="rounded-xl" elevation="24">
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  :disabled="user.type != 1"
                  class="primary-button-icon mr-4"
                  icon
                  @click="editState = true"
                >
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
              </v-card-actions>

              <v-row class="pl-8 pr-8">
                <v-col cols="12">
                  <div
                    class="text-button primary-text"
                    style="font-size: 2rem !important"
                  >
                    {{ establecimiento.nombre }}
                  </div>
                  <div
                    class="text-justify text-overline mt-2"
                    style="font-size: 0.9rem !important"
                  >
                    {{ establecimiento.tipo_establecimiento.tipo }}
                  </div>
                </v-col>
              </v-row>
              <v-row class="pl-8 pr-8">
                <v-col cols="12" md="4">
                  <div class="text-button">Teléfono</div>
                  <div class="text-caption">
                    {{ establecimiento.telefono }}
                  </div>
                  <div class="text-button mt-4">Capacidad diaria</div>
                  <div class="text-caption">
                    {{ establecimiento.capacidad_diaria }}
                  </div>
                  <div class="text-button mt-4">Capacidad</div>
                  <div class="text-caption">
                    {{ establecimiento.capacidad }}
                  </div>
                </v-col>
                <v-col cols="12" md="4">
                  <div class="text-button">Horario</div>
                  <div class="text-caption">
                    {{ establecimiento.hora_inicio }} - {{ establecimiento.hora_fin }}
                  </div>
                  <div class="text-button">Dirección</div>
                  <div class="text-caption">
                    {{ establecimiento.direccion.nombre }}, #{{
                      establecimiento.direccion.numero
                    }}
                  </div>
                  <div class="text-button mt-4">Ciudad</div>
                  <div class="text-caption">
                    {{ establecimiento.direccion.ciudad }},
                    {{ establecimiento.direccion.region }}
                  </div>
                </v-col>
                <v-col cols="12" md="4" class="d-flex justify-center">
                  <v-avatar class="rounded-xl" tile size="300">
                    <v-img :src="img(establecimiento.img)"> </v-img>
                  </v-avatar>
                </v-col>
              </v-row>
              <v-row class="pl-8 pr-8 pb-8">
                <v-col cols="12">
                  <div class="text-button">Descripción</div>
                  <div class="text-caption text-justify">
                    {{ establecimiento.descripcion }}
                  </div>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>

        <v-row class="mt-12">
          <v-col cols="12">
            <v-card elevation="24" class="pa-8 rounded-xl">
              <div
                class="text-button text-center"
                style="font-size: 1.2rem !important"
              >
                Valoración
              </div>
              <div class="d-flex justify-space-around pb-4">
                <v-rating
                  background-color="orange lighten-3"
                  color="orange"
                  empty-icon="mdi-star-outline"
                  full-icon="mdi-star"
                  half-icon="mdi-star-half-full"
                  length="5"
                  size="40"
                  half-increments
                  dense
                  :value="establecimiento.promedio"
                  readonly
                ></v-rating>
              </div>
              <v-divider></v-divider>
              <div
                class="text-button mt-4 mb-2"
                style="font-size: 1.2rem !important"
              >
                Comentarios
              </div>
              <div
                class="text-overline mt-2"
                v-if="establecimiento.puntuaciones.length == 0"
              >
                No se encontraron comentarios.
              </div>
              <div v-else>
                <v-list three-line>
                  <template
                    v-for="(item, index) in establecimiento.puntuaciones"
                  >
                    <v-list-item :key="index" class="pa-0">
                      <v-list-item-content>
                        <v-list-item-title class="text-overline">
                          <v-row justify="space-between">
                            <v-col cols="4">
                              {{ item.cliente.nombre }}
                              {{ item.cliente.apellido_paterno }}
                            </v-col>
                            <v-col cols="1">
                              <v-rating
                                background-color="orange lighten-3"
                                color="orange"
                                empty-icon="mdi-star-outline"
                                full-icon="mdi-star"
                                half-icon="mdi-star-half-full"
                                length="5"
                                size="18"
                                dense
                                half-increments
                                :value="item.puntuacion"
                                readonly
                              ></v-rating>
                            </v-col> </v-row
                        ></v-list-item-title>
                        <v-list-item-subtitle class="text-justify mt-2">
                          {{ item.comentario }}
                        </v-list-item-subtitle>
                        <v-list-item-subtitle
                          class="
                            text-start text--disabled text-caption
                            mt-4
                            font-italic
                          "
                        >
                          {{ item.created_at | moment("DD-MM-YYYY, hh:mm") }}
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                    <v-divider
                      :key="'separator-' + index"
                      v-if="index < establecimiento.puntuaciones.length - 1"
                    ></v-divider>
                  </template>
                </v-list>
              </div>
            </v-card>
          </v-col>
        </v-row>
      </div>
      <div v-else>
        <v-card elevation="24" class="rounded-xl">
          <div class="pa-8 text-button text-center">
            No se encontro ningun establecimiento registrado en el sistema.
          </div>
          <v-card-actions class="pr-8 pl-8 pb-5">
            <v-btn
              class="primary-button-icon"
              plain
              block
              depressed
              @click="storeState = true"
            >
              <v-icon left> mdi-plus </v-icon>
              Agregar Establecimiento</v-btn
            >
          </v-card-actions>
        </v-card>
      </div>
    </div>
  </div>
</template>

<script>
import EstablecimientoService from "../../../services/establecimiento.service";
import EstablecimientoDialog from "../../../components/dialogs/establecimiento.form";
import Loader from "../../../components/loaders/circular";
import UserMixin from "../../../mixins/user.mixin";
import { API_IMG } from "../../../helpers/_api";

export default {
  components: {
    EstablecimientoDialog,
    Loader,
  },
  mixins: [UserMixin],
  name: "Establecimiento",
  data() {
    return {
      storeState: false,
      editState: false,
      establecimiento: "",
      loading: true,
    };
  },
  methods: {
    img(img) {
      return API_IMG(img);
    },
    update(data) {
      this.current.establecimiento = data;
      this.establecimiento = data;
      this.$store.commit("auth/updateData");
    },
  },
  mounted() {
    if (this.hasEstablecimiento()) {
      EstablecimientoService.getEstablecimiento(
        this.user.establecimiento.id
      ).then((data) => {
        this.establecimiento = data;
        this.loading = false;
      });
    } else {
      this.loading = false;
    }
  },
  computed: {
    current() {
      var user = this.$store.state.auth.user.user;
      return user;
    },
  },
};
</script>

<style>
</style>