<template>
  <div class="ma-8">
    <!-- Start. store dialog -->
    <MaterialesDialog
      v-if="storeState"
      :dialog="storeState"
      :isEdit="false"
      :idEstablecimiento="user.establecimiento.id"
      @updateData="update"
      @close="storeState = false"
    ></MaterialesDialog>
    <!-- end. store dialog -->

    <!-- Start. edit dialog -->
    <MaterialesDialog
      v-if="editState"
      :dialog="editState"
      :isEdit="true"
      :data="currentData"
      @editData="edit"
      @close="editState = false"
    ></MaterialesDialog>
    <!-- end. edit dialog -->

    <!-- Start. delete dialog -->
    <DeleteDialog
      v-if="deleteState"
      :message="
        'Esta seguro de eliminar el producto, Nombre: ' +
        currentData.nombre +
        ', ID: ' +
        currentData.id +
        '.'
      "
      :dialog="deleteState"
      @close="deleteState = false"
      @confirm="remove"
    ></DeleteDialog>
    <!-- End. delete dialog -->


    <!-- Filtro -->
    <v-row>
      <v-col>
        <v-card class="pa-8 rounded-xl" elevation="24">
          <v-row>
            <v-col cols="12" md="9">
              <v-text-field
                placeholder="Buscar"
                append-icon="mdi-magnify"
                outlined
                hide-details
                v-model="filter"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="3">
              <v-btn
                class="primary-button"
                dark
                x-large
                depressed
                block
                @click="storeState = true"
              >
                Agregar materiales
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>

    <!-- Tabla -->
    <v-row class="mt-8">
      <v-col>
        <Loader v-if="loading"></Loader>
        <div v-else>
          <div v-if="materiales.length != 0">
            <v-card class="pa-8 rounded-xl" elevation="24">
              <v-simple-table>
                <thead>
                  <tr>
                    <th class="text-left">ID</th>
                    <th class="text-left">Nombre</th>
                    <th class="text-left">Cantidad</th>
                    <th class="text-left">Categoria</th>
                    <th class="text-left">Operaciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in filterByName" :key="index">
                    <td>{{ item.id }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>{{ item.categoria_material.categoria }}</td>
                    <td>
                      <v-btn icon @click="openEditDialog(item)" color="success">
                        <v-icon>mdi-pencil</v-icon>
                      </v-btn>
                      <v-btn icon @click="openDeleteDialog(item)" color="error">
                        <v-icon>mdi-delete</v-icon>
                      </v-btn>
                    </td>
                  </tr>
                </tbody>
              </v-simple-table>
            </v-card>
          </div>
          <div v-else>
            <v-card elevation="24" class="rounded-xl">
              <div class="pa-8 text-button text-center">
                No se encontro ningun material registrado para este
                establecimiento.
              </div>
            </v-card>
          </div>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import MaterialesDialog from "../../../components/dialogs/materiales.form";
import MaterialesServices from "../../../services/materiales.service";
import DeleteDialog from "../../../components/dialogs/delete";
import Loader from "../../../components/loaders/circular";
import UserMixin from "../../../mixins/user.mixin";
import NotificationMixin from "../../../mixins/notification.mixin";

export default {
  components: {
    MaterialesDialog,
    DeleteDialog,
    Loader,
  },
  mixins: [UserMixin, NotificationMixin],
  name: "Materiales",
  data() {
    return {
      storeState: false,
      editState: false,
      deleteState: false,
      materiales: [],
      loading: true,
      currentData: "",
      filter: "",
    };
  },
  methods: {
    updateCurrentData(data) {
      this.currentData = data;
    },
    openDeleteDialog(data) {
      this.updateCurrentData(data);
      this.deleteState = true;
    },
    openEditDialog(data) {
      this.updateCurrentData(data);
      this.editState = true;
    },
    search() {
      let obj = this.materiales.find((x) => x.id === this.currentData.id);
      let index = this.materiales.indexOf(obj);
      return index;
    },
    edit(data) {
      this.$set(this.materiales, this.search(), data);
    },
    update(data) {
      this.materiales.push(data);
    },
    remove(confirm) {
      if (confirm) {
        MaterialesServices.delete(this.currentData.id).then(
          (data) => {
            if (data) {
              this.$delete(this.materiales, this.search());
              this.success("Material eliminado!");
            } else {
              this.warning("No se puedo eliminar");
            }
          },
          () => {
            this.error("Ha ocurrido un error");
          }
        );
      }
      this.deleteState = false;
    },
  },
  mounted() {
    MaterialesServices.getMateriales(this.user.establecimiento.id).then(
      (data) => {
        this.materiales = data;
        this.loading = false;
      },
      () => {
        this.error("Error al cargar materiales");
        this.loading = false;
      }
    );
  },
  computed: {
    filterByName() {
      return this.materiales.filter(
        (material) => material.nombre.toLowerCase().includes(this.filter.toLowerCase())
      );
    },
  },
};
</script>

<style>
</style>