<template>
  <div class="pa-8">
    <Loader v-if="loading"></Loader>
    <div v-else>
      <v-row>
        <v-col
          v-for="(item, index) in planes"
          :key="index"
          cols="12"
          :md="item.id == 4 ? '12' : '3'"
        >
          <v-card class="rounded-xl pa-8" elevation="24" v-if="item.id != 4">
            <div class="text-center text-h4 text-uppercase">
              {{ item.nombre }}
            </div>
            <div class="text-center text-overline mt-4">
              {{ item.dias }} dias
            </div>
            <v-card-actions class="mt-4">
              <v-btn
                block
                depressed
                class="primary-button"
                dark
                :loading="btn"
                @click="solicitar(item.id)"
              >
                Solicitar</v-btn
              >
            </v-card-actions>
          </v-card>

          <v-card v-else dark class="rounded-xl" elevation="24">
            <v-img
              src="https://media.vogue.es/photos/5cc6fa74a8f341bbd67e05e9/master/w_2700,h_1800,c_limit/loreal_peluquerias_salones_secret_235816580.jpg"
              height="300px"
              gradient="to top right, rgba(0,0,0,0), rgba(11,11,11,1)"
              class="pa-8"
            >
              <div class="text-center text-h4 text-uppercase">
                {{ item.nombre }}
              </div>
              <div class="text-center text-overline mt-4">
                Disfruta del plan premium de {{ item.dias }} dias
                <div class="text-center mt-4 mb-4">
                  <li>Trato exclusivo</li>
                  <li>Primero en la lista de tiendas</li>
                </div>
              </div>
              <v-card-actions class="mt-4 pl-14 pr-14">
                <v-btn
                  block
                  depressed
                  class="primary-button"
                  dark
                  :loading="btn"
                  @click="solicitar(item.id)"
                >
                  Solicitar</v-btn
                >
              </v-card-actions>
            </v-img>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import Loader from "../../../components/loaders/circular";
import notificationMixinVue from "../../../mixins/notification.mixin.vue";
import userMixinVue from "../../../mixins/user.mixin.vue";
import EstablecimientoService from "../../../services/establecimiento.service";
export default {
  components: { Loader },
  mixins: [userMixinVue, notificationMixinVue],
  data() {
    return {
      loading: true,
      planes: "",
      btn: false,
    };
  },
  methods: {
    solicitar(id) {
      this.btn = true;
      EstablecimientoService.solicitarPlan(
        {
          plan_id: id,
        },
        this.user.establecimiento.id
      ).then(
        () => {
          this.success("Plan solicitado");
          this.btn = false;

          switch (id) {
            case 1:
              window.open(
                "https://www.flow.cl/btn.php?token=yadffqn",
                "_blank"
              );
              break;
            case 2:
              window.open(
                "https://www.flow.cl/btn.php?token=aflr2dq",
                "_blank"
              );
              break;
            case 3:
              window.open(
                "https://www.flow.cl/btn.php?token=g8bbfx7",
                "_blank"
              );
              break;
            case 4:
              window.open(
                "https://www.flow.cl/app/web/pagarBtnPago.php?token=6vyz4ds",
                "_blank"
              );
              break;
            default:
              break;
          }
        },
        () => {
          this.error("No se pudo solicitar el plan");
          this.btn = false;
        }
      );
    },
  },
  mounted() {
    EstablecimientoService.planes().then(
      (data) => {
        this.planes = data;
        this.loading = false;
      },
      () => {
        this.error("Error al cargar planes");
        this.loading = false;
      }
    );
  },
};
</script>

<style>
</style>