<template>
  <div class="ma-8">
    <v-row>
      <v-col>
        <Loader v-if="loading"></Loader>
        <div v-else>
          <v-card class="pa-8 rounded-xl" elevation="24">
            <div
              class="text-button primary-text"
              style="font-size: 1.5rem !important"
            >
              Solicitudes hora
            </div>
            <v-simple-table class="mt-4" v-if="reservas.length != 0">
              <thead>
                <tr>
                  <th class="text-left">ID</th>
                  <th class="text-left">Cliente</th>
                  <th class="text-left">Teléfono</th>
                  <th class="text-left">Servicio</th>
                  <th class="text-left">Fecha</th>
                  <th class="text-left">Hora</th>
                  <th class="text-left">Operaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in reservas" :key="index">
                  <td>{{ item.id }}</td>
                  <td>{{ item.nombre }} {{ item.apellido_paterno }}</td>
                  <td>{{ item.telefono }}</td>
                  <td>{{ item.servicio_nombre }}</td>
                  <td>{{ item.fecha | moment("DD-MM-YYYY") }}</td>
                  <td>
                    {{ minutesToHour(item.hora_inicio) }} -
                    {{ minutesToHour(item.hora_fin) }}
                  </td>
                  <td>
                    <v-btn
                      icon
                      color="success"
                      @click="confirmar(item.id, true, reservas)"
                    >
                      <v-icon>mdi-check</v-icon>
                    </v-btn>
                    <v-btn
                      icon
                      color="error"
                      @click="confirmar(item.id, false, reservas)"
                    >
                      <v-icon>mdi-close</v-icon>
                    </v-btn>
                  </td>
                </tr>
              </tbody>
            </v-simple-table>
            <div v-else>
              <div class="pa-8 text-button text-center">
                No se encontro ningun solicitud para este establecimiento.
              </div>
            </div>
          </v-card>

          <v-card class="pa-8 rounded-xl mt-16" elevation="24">
            <div
              class="text-button primary-text"
              style="font-size: 1.5rem !important"
            >
              Solicitudes confirmadas
            </div>
            <v-simple-table
              class="mt-4"
              v-if="reservas_confirmadas.length != 0"
            >
              <thead>
                <tr>
                  <th class="text-left">ID</th>
                  <th class="text-left">Cliente</th>
                  <th class="text-left">Teléfono</th>
                  <th class="text-left">Servicio</th>
                  <th class="text-left">Fecha</th>
                  <th class="text-left">Hora</th>
                  <th class="text-left">Operaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in reservas_confirmadas" :key="index">
                  <td>{{ item.id }}</td>
                  <td>{{ item.nombre }} {{ item.apellido_paterno }}</td>
                  <td>{{ item.telefono }}</td>
                  <td>{{ item.servicio_nombre }}</td>
                  <td>{{ item.fecha | moment("DD-MM-YYYY") }}</td>
                  <td>
                    {{ minutesToHour(item.hora_inicio) }} -
                    {{ minutesToHour(item.hora_fin) }}
                  </td>
                  <td>
                    <v-btn
                      icon
                      color="error"
                      @click="confirmar(item.id, false, reservas_confirmadas)"
                    >
                      <v-icon>mdi-close</v-icon>
                    </v-btn>
                  </td>
                </tr>
              </tbody>
            </v-simple-table>
            <div v-else>
              <div class="pa-8 text-button text-center">
                No se encontro ningun solicitud para este establecimiento.
              </div>
            </div>
          </v-card>
        </div>
      </v-col>
    </v-row>
    <v-overlay
      :value="loading_confirmacion"
      :absolute="true"
      :opacity="0.5"
    >
      <div class="text-overline" style="font-size: 2rem !important">Cargando</div>
    </v-overlay>
  </div>
</template>

<script>
import ServiciosService from "../../../services/servicios.service";
import Loader from "../../../components/loaders/circular";
import UserMixin from "../../../mixins/user.mixin";
import NotificationMixin from "../../../mixins/notification.mixin";

export default {
  components: {
    Loader,
  },
  mixins: [UserMixin, NotificationMixin],
  name: "Reservas",
  data() {
    return {
      loading: true,
      loading_confirmacion: false,
      reservas: [],
      reservas_confirmadas: [],
    };
  },
  methods: {
    minutesToHour(minutes) {
      return this.$moment()
        .startOf("day")
        .add(minutes, "minutes")
        .format("hh:mm");
    },
    cargarReservas() {
      Promise.all([
        ServiciosService.getReservas(this.user.establecimiento.id),
        ServiciosService.getReservasConfirmadas(this.user.establecimiento.id),
      ]).then(([data_pendientes, data_confirmadas]) => {
        this.reservas = data_pendientes;
        this.reservas_confirmadas = data_confirmadas;
        this.loading = false;
      });
    },
    confirmar(id, confirmacion, array) {
      let obj = array.find((x) => x.id === id);
      let index = array.indexOf(obj);

      var data = {
        confirmacion: confirmacion,
      };

      this.loading_confirmacion = true;
      ServiciosService.confirmarReserva(id, data).then(
        (data) => {
          this.success(data.mensaje);
          this.$delete(array, index);

          if (data.estado == 201) {
            this.reservas_confirmadas.push(obj);
          }
          this.loading_confirmacion = false;
        },
        () => {
          this.loading_confirmacion = false;
          this.error("Ha surgido un error");
        }
      );
    },
  },
  mounted() {
    this.cargarReservas();
  },
};
</script>

<style scoped>
</style>