<template>
  <div class="ma-8">
    <!-- Start. store dialog -->
    <ServiciosDialog
      v-if="storeState"
      :dialog="storeState"
      :isEdit="false"
      :idEstablecimiento="user.establecimiento.id"
      @updateData="update"
      @close="storeState = false"
    ></ServiciosDialog>
    <!-- end. store dialog -->

    <!-- Start. edit dialog -->
    <ServiciosDialog
      v-if="editState"
      :dialog="editState"
      :isEdit="true"
      :data="currentData"
      :idEstablecimiento="user.establecimiento.id"
      @editData="edit"
      @close="editState = false"
    ></ServiciosDialog>
    <!-- end. edit dialog -->

    <!-- Start. delete dialog -->
    <DeleteDialog
      v-if="deleteState"
      :message="
        'Esta seguro de eliminar el servicio, Nombre: ' +
        currentData.nombre +
        ', ID: ' +
        currentData.id +
        '.'
      "
      :dialog="deleteState"
      @close="deleteState = false"
      @confirm="remove"
    ></DeleteDialog>
    <!-- End. delete dialog -->

    <v-row>
      <v-col>
        <v-card class="pa-8 rounded-xl" elevation="24">
          <v-row>
            <v-col cols="12" md="9">
              <v-text-field
                placeholder="Buscar"
                append-icon="mdi-magnify"
                outlined
                hide-details
                v-model="filter"
              ></v-text-field>
            </v-col>
            <v-col md="3">
              <v-btn
                class="primary-button"
                dark
                x-large
                depressed
                block
                @click="storeState = true"
              >
                Agregar servicio
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>

    <v-row class="mt-8">
      <v-col>
        <Loader v-if="loading"></Loader>
        <div v-else>
          <div v-if="servicios.length != 0">
            <v-row>
              <v-col md="4" v-for="(item, index) in filterByName" :key="index">
                <v-card
                  class="rounded-xl d-flex flex-column"
                  elevation="24"
                  style="height: 100%"
                >
                  <v-img
                    class="white--text align-end"
                    height="200"
                    max-height="200"
                    :src="img(item.img)"
                  >
                  </v-img>
                  <v-card-title class="text-button">{{
                    item.nombre
                  }}</v-card-title>
                  <v-card-subtitle class="text-overline">
                    <v-row align="center" justify="center">
                      <v-col cols="6" class="pb-0">
                        <div>
                          <v-icon>mdi-currency-usd</v-icon> {{ item.precio }}
                        </div>
                      </v-col>
                      <v-col cols="6" class="pb-0">
                        <div>
                          <v-icon>mdi-clock-outline</v-icon> {{ item.tiempo }}
                        </div>
                      </v-col>
                      <v-col cols="12" class="pt-0">
                        <div>
                          <v-icon>mdi-account</v-icon>
                          {{ item.personal.nombre }}
                          {{ item.personal.apellido_paterno }}
                        </div>
                      </v-col>
                    </v-row>
                  </v-card-subtitle>
                  <v-card-text class="text--primary text-justify">
                    <div>
                      {{ item.descripcion }}
                    </div>
                  </v-card-text>

                  <v-spacer></v-spacer>
                  <v-card-actions class="pr-4 pl-4 pb-4">
                    <v-row>
                      <v-col>
                        <v-btn
                          @click="openEditDialog(item)"
                          block
                          text
                          class="primary-button-icon"
                        >
                          Editar
                        </v-btn>
                      </v-col>
                      <v-col>
                        <v-btn
                          @click="openDeleteDialog(item)"
                          block
                          text
                          class="primary-button-icon"
                        >
                          Eliminar
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </div>
          <div v-else>
            <v-card elevation="24" class="rounded-xl">
              <div class="pa-8 text-button text-center">
                No se encontro ningun servicio registrado para este
                establecimiento.
              </div>
            </v-card>
          </div>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import ServiciosDialog from "../../../components/dialogs/servicios.form";
import ServiciosService from "../../../services/servicios.service";
import Loader from "../../../components/loaders/circular";
import DeleteDialog from "../../../components/dialogs/delete";
import UserMixin from "../../../mixins/user.mixin";
import NotificationMixin from "../../../mixins/notification.mixin";
import { API_IMG } from "../../../helpers/_api";

export default {
  components: {
    ServiciosDialog,
    Loader,
    DeleteDialog,
  },
  name: "Servicio",
  mixins: [UserMixin, NotificationMixin],
  data() {
    return {
      servicios: [],
      storeState: false,
      deleteState: false,
      editState: false,
      loading: true,
      currentData: "",
      currentIndex: 0,
      filter: "",
    };
  },
  methods: {
    img(img) {
      return API_IMG(img);
    },
    closeDialog(value) {
      this.servicios = value;
    },
    search() {
      let obj = this.servicios.find((x) => x.id === this.currentData.id);
      let index = this.servicios.indexOf(obj);
      return index;
    },
    update(data) {
      this.servicios.push(data);
    },
    edit(data) {
      this.$set(this.servicios, this.search(), data);
    },
    updateCurrentData(data) {
      this.currentData = data;
    },
    openDeleteDialog(data) {
      this.updateCurrentData(data);
      this.deleteState = true;
    },
    openEditDialog(data) {
      this.updateCurrentData(data);
      this.editState = true;
    },
    remove(confirm) {
      if (confirm) {
        ServiciosService.delete(this.currentData.id).then(
          (data) => {
            if (data) {
              this.$delete(this.servicios, this.search());
              this.success("Servicio eliminado!");
            } else {
              this.warning("No se puedo eliminar");
            }
          },
          () => {
            this.error("Ha ocurrido un error");
          }
        );
      }
      this.deleteState = false;
    },
  },
  mounted() {
    ServiciosService.getServicios(this.user.establecimiento.id).then(
      (data) => {
        this.servicios = data;
        this.loading = false;
      },
      () => {
        this.error("Error al cargar servicios");
        this.loading = false;
      }
    );
  },
  computed: {
    filterByName() {
      return this.servicios.filter(
        (servicio) => servicio.nombre.toLowerCase().includes(this.filter.toLowerCase())
      );
    },
  },
};
</script>

<style>
</style>