<template>
  <div class="ma-8">
    <!-- Start. store dialog -->
    <VentasDialog
      v-if="storeState"
      :dialog="storeState"
      :isEdit="false"
      :idEstablecimiento="user.establecimiento.id"
      @updateData="update"
      @close="storeState = false"
    ></VentasDialog>
    <!-- end. store dialog -->

    <!-- Start. edit dialog -->
    <VentasDialog
      v-if="editState"
      :dialog="editState"
      :isEdit="true"
      :data="currentData"
      :idEstablecimiento="user.establecimiento.id"
      @editData="edit"
      @close="editState = false"
    ></VentasDialog>
    <!-- end. edit dialog -->

    <!-- Start. delete dialog -->
    <DeleteDialog
      v-if="deleteState"
      :message="
        'Esta seguro de eliminar la venta, Total: ' +
        currentData.total +
        ', ID: ' +
        currentData.id +
        '.'
      "
      :dialog="deleteState"
      @close="deleteState = false"
      @confirm="remove"
    ></DeleteDialog>
    <!-- End. delete dialog -->

    <!-- Filtro -->
    <v-row>
      <v-col>
        <v-card class="pa-8 rounded-xl" elevation="24">
          <v-row>
            <v-col cols="12" md="9">
              <v-text-field
                placeholder="Buscar por rut del vendedor"
                append-icon="mdi-magnify"
                outlined
                hide-details
                v-model="filter"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="3">
              <v-btn
                class="primary-button"
                dark
                x-large
                depressed
                block
                @click="storeState = true"
              >
                Agregar venta
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>

    <!-- Tabla -->
    <v-row class="mt-8">
      <v-col>
        <Loader v-if="loading"></Loader>
        <div v-else>
          <div v-if="ventas.length != 0">
            <v-card class="pa-8 rounded-xl" elevation="24">
              <v-simple-table>
                <thead>
                  <tr>
                    <th class="text-left">ID</th>
                    <th class="text-left">Vendedor</th>
                    <th class="text-left">Total</th>
                    <th class="text-left">Fecha</th>
                    <th class="text-left">Metodo</th>
                    <th class="text-left">Operaciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in filterByName" :key="index">
                    <td>{{ item.id }}</td>
                    <td>{{ item.rut_vendedor }}</td>
                    <td>$ {{ item.total }}</td>
                    <td>{{ item.fecha_venta }}</td>
                    <td>{{ item.metodo_pago }}</td>
                    <td>
                      <v-btn icon @click="openEditDialog(item)" color="success">
                        <v-icon>mdi-pencil</v-icon>
                      </v-btn>
                      <v-btn icon @click="openDeleteDialog(item)" color="error">
                        <v-icon>mdi-delete</v-icon>
                      </v-btn>
                    </td>
                  </tr>
                </tbody>
              </v-simple-table>
            </v-card>
          </div>
          <div v-else>
            <v-card elevation="24" class="rounded-xl">
              <div class="pa-8 text-button text-center">
                No se encontro ninguna venta registrada para este
                establecimiento.
              </div>
            </v-card>
          </div>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import VentasDialog from "../../../components/dialogs/ventas.form";
import VentasServices from "../../../services/ventas.service";
import DeleteDialog from "../../../components/dialogs/delete";
import Loader from "../../../components/loaders/circular";
import UserMixin from "../../../mixins/user.mixin";
import NotificationMixin from "../../../mixins/notification.mixin";

export default {
  components: {
    VentasDialog,
    DeleteDialog,
    Loader,
  },
  mixins: [UserMixin, NotificationMixin],
  name: "Ventas",
  data() {
    return {
      storeState: false,
      editState: false,
      deleteState: false,
      ventas: [],
      loading: true,
      currentData: "",
      filter: "",
    };
  },
  methods: {
    updateCurrentData(data) {
      this.currentData = data;
    },
    openDeleteDialog(data) {
      this.updateCurrentData(data);
      this.deleteState = true;
    },
    openEditDialog(data) {
      this.updateCurrentData(data);
      this.editState = true;
    },
    search() {
      let obj = this.ventas.find((x) => x.id === this.currentData.id);
      let index = this.ventas.indexOf(obj);
      return index;
    },
    edit(data) {
      this.$set(this.ventas, this.search(), data);
    },
    update(data) {
      this.ventas.push(data);
    },
    remove(confirm) {
      if (confirm) {
        VentasServices.delete(this.currentData.id).then(
          (data) => {
            if (data) {
              this.$delete(this.ventas, this.search());
              this.success("Venta eliminada!");
            } else {
              this.warning("No se puedo eliminar");
            }
          },
          () => {
            this.error("Ha ocurrido un error");
          }
        );
      }
      this.deleteState = false;
    },
  },
  mounted() {
    VentasServices.getVentas(this.user.establecimiento.id).then(
      (data) => {
        this.ventas = data;
        this.loading = false;
      },
      () => {
        this.error("Error al cargar ventas");
        this.loading = false;
      }
    );
  },
  computed: {
    filterByName() {
      return this.ventas.filter((venta) =>
        venta.rut_vendedor.includes(this.filter)
      );
    },
  },
};
</script>

<style>
</style>