<template>
  <div id="login" class="gradient">
    <v-container fluid class="full-page">
      <v-row justify="center" class="mt-8">
        <v-col cols="12" md="4" sm="8">
          <v-card elevation="24" align="center" class="pa-4 rounded-xl">
            <div
              class="text-button text-center pa-4 pb-8"
              style="font-size: 2rem !important"
            >
              tuestilo
            </div>
            <v-divider></v-divider>
            <v-form ref="form" lazy-validation>
              <div class="pa-4">
                <v-text-field
                  label="Email"
                  v-model="user.email"
                  :rules="emailRule('email')"
                ></v-text-field>
                <v-text-field
                  label="Contraseña"
                  v-model="user.password"
                  :rules="requiredRule('contraseña')"
                  :type="show ? 'text' : 'password'"
                  :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="show = !show"
                ></v-text-field>
              </div>
            </v-form>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                class="primary-text"
                text
                @click="$router.push({ name: 'Inicio' })"
                >Cancelar</v-btn
              >
              <v-btn
                class="primary-button"
                dark
                depressed
                @click="submit()"
                :loading="loading"
                >Iniciar sesión</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import notificationMixinVue from "../../mixins/notification.mixin.vue";
import validacionesMixinVue from "../../mixins/validaciones.mixin.vue";
export default {
  name: "Login",
  mixins: [notificationMixinVue, validacionesMixinVue],
  data() {
    return {
      show: false,
      loading: false,
      user: {
        email: "",
        password: "",
      },
    };
  },
  methods: {
    submit() {
      var isValid = this.validateField(this.$refs.form);
      if (isValid) {
        this.loading = true;
        this.$store.dispatch("auth/login", this.user).then(
          (data) => {
            this.loading = false;
            this.success("Se ha iniciado sesion correctamente!");
            switch (data.user.type) {
              case 1:
                this.$router.push({ name: "Propietario.Inicio" });
                break;
              case 3:
                this.$router.push({ name: "Propietario.Inicio" });
                break;
              case 4:
                this.$router.push({ name: "Admin" });
                break;
              default:
                this.$router.push({ name: "Cliente.Inicio" });
                break;
            }
          },
          () => {
            this.error("No esta autorizado");
            this.loading = false;
          }
        );
      } else {
        this.error("Formulario invalido");
      }
    },
  },
};
</script>


<style lang="scss">
.primary-text {
  color: $base-two !important;
}
.primary-button {
  background: $base-two !important;
}
.gradient {
  background: linear-gradient(
    45deg,
    rgba($base-one, 0.9) 0%,
    rgba($base-two, 0.9) 100%
  ) !important;
}
.full-page {
  min-height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.4) !important;
}
</style>