<template>
  <div id="register" class="gradient">
    <v-container fluid class="full-page">
      <v-row justify="center" class="mt-8">
        <v-col cols="12" md="4" sm="8">
          <v-card elevation="24" align="center" class="pa-4 rounded-xl">
            <div
              class="text-button text-center pa-4 pb-8"
              style="font-size: 2rem !important"
            >
              tuestilo
            </div>
            <v-divider></v-divider>
            <v-form ref="form" lazy-validation>
              <div class="pa-4">
                <div class="text-start text-button">Información personal</div>
                <v-text-field
                  label="Rut"
                  v-model="user.rut"
                  :rules="rutRule('rut')"
                ></v-text-field>
                <v-text-field
                  label="Nombre"
                  v-model="user.nombre"
                  :rules="personRule('nombre')"
                ></v-text-field>
                <v-text-field
                  label="Apellido Paterno"
                  v-model="user.apellido_paterno"
                  :rules="personRule('apellido paterno')"
                ></v-text-field>
                <v-text-field
                  label="Apellido Materno"
                  v-model="user.apellido_materno"
                  :rules="personRule('apellido materno')"
                ></v-text-field>
                <v-text-field
                  label="Telefóno"
                  counter="9"
                  :rules="phoneRule('telefono')"
                  v-model="user.telefono"
                ></v-text-field>
                <div class="text-start text-button mt-2">Cuenta</div>
                <v-text-field
                  label="Email"
                  v-model="user.email"
                  :rules="emailRule('email')"
                ></v-text-field>
                <v-text-field
                  label="Contraseña"
                  :rules="requiredRule('contraseña')"
                  v-model="user.password"
                  :type="show ? 'text' : 'password'"
                  :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="show = !show"
                ></v-text-field>
                <v-select
                  :items="types"
                  label="Tipo de cuenta"
                  :rules="requiredRule('tipo de cuenta')"
                  v-model="user.type"
                ></v-select>
              </div>
            </v-form>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                class="primary-text"
                text
                @click="$router.push({ name: 'Inicio' })"
                >Cancelar</v-btn
              >
              <v-btn
                class="primary-button"
                :loading="loading"
                dark
                depressed
                @click="submit()"
                >Registrar</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import notificationMixinVue from "../../mixins/notification.mixin.vue";
import validacionesMixinVue from "../../mixins/validaciones.mixin.vue";
export default {
  name: "Register",
  mixins: [validacionesMixinVue, notificationMixinVue],
  data() {
    return {
      show: false,
      loading: false,
      user: {
        rut: "",
        nombre: "",
        apellido_paterno: "",
        apellido_materno: "",
        telefono: "",
        email: "",
        password: "",
        type: 0,
      },
      types: [
        {
          text: "Cliente",
          value: 2,
        },
        {
          text: "Propietario",
          value: 1,
        },
      ],
    };
  },
  methods: {
    submit() {
      var isValid = this.validateField(this.$refs.form);
      if (isValid) {
        this.loading = true;
        this.$store.dispatch("auth/register", this.user).then(
          (data) => {
            this.loading = false;
            this.success("Se ha registrado correctamente!");
            if (data.user.type == 1) {
              this.$router.push({ name: "Propietario.Inicio" });
            } else if (data.user.type == 3) {
              this.$router.push({ name: "Propietario.Inicio" });
            } else {
              this.$router.push({ name: "Cliente.Inicio" });
            }
          },
          () => {
            this.error("No esta autorizado");
            this.loading = false;
          }
        );
      } else {
        this.error("Formulario invalido");
      }
    },
  },
};
</script>

<style lang="scss">
.primary-text {
  color: $base-two !important;
}
.primary-button {
  background: $base-two !important;
}
.gradient {
  background: linear-gradient(
    45deg,
    rgba($base-one, 0.9) 0%,
    rgba($base-two, 0.9) 100%
  ) !important;
}
.full-page {
  min-height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.4) !important;
}
</style>