<template>
  <v-dialog v-model="dialog" width="800" @click:outside="close">
    <v-card>
      <!-- Start. Card title -->
      <v-card-title>
        <span
          class="text-button primary-text"
          style="font-size: 1.2rem !important"
        >
          <div v-if="isEdit">Editar Personal</div>
          <div v-else>Agregar Personal</div>
        </span>
      </v-card-title>
      <!-- End. Card title -->

      <!-- Start. Card body -->
      <v-card-text>
        <v-container>
          <v-form ref="form" lazy-validation>
            <div class="pa-4">
              <div class="text-start text-button">Información personal</div>
              <v-text-field
                label="Rut"
                v-model="user.rut"
                :rules="rutRule('rut')"
              ></v-text-field>
              <v-text-field
                label="Nombre"
                v-model="user.nombre"
                :rules="personRule('nombre')"
              ></v-text-field>
              <v-text-field
                label="Apellido Paterno"
                v-model="user.apellido_paterno"
                :rules="personRule('apellido paterno')"
              ></v-text-field>
              <v-text-field
                label="Apellido Materno"
                v-model="user.apellido_materno"
                :rules="personRule('apellido materno')"
              ></v-text-field>
              <v-text-field
                label="Telefóno"
                v-model="user.telefono"
                counter="9"
                :rules="phoneRule('telefono')"
              ></v-text-field>
              <v-text-field
                label="Especialidad"
                v-model="user.especialidad"
                :rules="requiredRule('especialidad')"
                required
              ></v-text-field>
              <div class="text-start text-button mt-2">Cuenta</div>
              <v-text-field
                label="Email"
                v-model="user.email"
                :rules="emailRule('email')"
                required
              ></v-text-field>
              <v-text-field
                v-if="!isEdit"
                label="Contraseña"
                v-model="user.password"
                :rules="requiredRule('contraseña')"
                :type="show ? 'text' : 'password'"
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="show = !show"
                required
              ></v-text-field>
              <v-text-field
                v-else
                label="Contraseña"
                v-model="user.password"
                :type="show ? 'text' : 'password'"
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="show = !show"
              ></v-text-field>
            </div>
          </v-form>
        </v-container>
      </v-card-text>
      <!-- End. Card body -->

      <!-- Start. Card footer -->
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="close" class="primary-button-icon">
          Cancelar
        </v-btn>
        <v-btn dark depressed class="primary-button" @click="submit">
          Guardar
        </v-btn>
      </v-card-actions>
      <!-- End. Card title -->
    </v-card>
  </v-dialog>
</template>

<script>
import PersonalService from "../../services/personal.service";
import NotificationMixin from "../../mixins/notification.mixin";
import validacionesMixin from "../../mixins/validaciones.mixin";

export default {
  name: "PersonalFormDialog",
  mixins: [NotificationMixin, validacionesMixin],
  props: {
    dialog: Boolean,
    isEdit: Boolean,
    data: Object,
    idEstablecimiento: Number,
  },
  data() {
    return {
      show: false,
      user: {
        rut: "",
        nombre: "",
        apellido_paterno: "",
        apellido_materno: "",
        telefono: "",
        especialidad: "",
        email: "",
        password: "",
      },
      types: [
        {
          text: "Cliente",
          value: 2,
        },
        {
          text: "Propietario",
          value: 1,
        },
      ],
    };
  },
  methods: {
    close() {
      this.$emit("close", false);
    },
    submit() {
      var isValid = this.validateField(this.$refs.form);
      if (isValid) {
        if (this.isEdit) {
          PersonalService.update(this.user, this.data.id).then(
            (data) => {
              this.$emit("editData", data);
              this.success("Personal editado!");
              this.close();
            },
            () => {
              this.error("Ha ocurrido un error");
            }
          );
        } else {
          PersonalService.store(this.user, this.idEstablecimiento).then(
            (data) => {
              this.$emit("updateData", data);
              this.success("Personal agregado!");
              this.close();
            },
            () => {
              this.error("Ha ocurrido un error");
            }
          );
        }
      } else {
        this.error("Formulario invalido");
      }
    },
    updateData() {
      this.user.rut = this.data.rut;
      this.user.nombre = this.data.nombre;
      this.user.apellido_paterno = this.data.apellido_paterno;
      this.user.apellido_materno = this.data.apellido_materno;
      this.user.telefono = this.data.telefono;
      this.user.especialidad = this.data.especialidad;
      this.user.email = this.data.user.email;
    },
  },
  mounted() {
    if (this.isEdit) {
      this.updateData();
    }
  },
};
</script>

<style>
</style>