<template>
  <v-dialog v-model="dialog" width="800" @click:outside="close">
    <Loader v-if="loading"></Loader>
    <div v-else>
      <v-card v-if="personal.length != 0">
        <v-card-title>
          <span
            class="text-button primary-text"
            style="font-size: 1.2rem !important"
          >
            <div v-if="isEdit">Editar Servicio</div>
            <div v-else>Agregar Servicio</div>
          </span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" lazy-validation>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Nombre"
                    v-model="servicio.nombre"
                    :rules="requiredRule('nombre')"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-select
                    label="Personal"
                    :items="personal"
                    :item-text="
                      (item) => item.nombre + ' ' + item.apellido_paterno
                    "
                    item-value="id"
                    v-model="servicio.personal_id"
                    :rules="requiredRule('personal')"
                    required
                  ></v-select>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Precio referencial"
                    type="number"
                    min="0"
                    v-model="servicio.precio"
                    prepend-icon="mdi-currency-usd"
                    :rules="integerRule('precio')"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Tiempo estimado"
                    hint="La duración del servicio debe ser en minutos."
                    type="number"
                    min="0"
                    prepend-icon="mdi-clock"
                    v-model="servicio.tiempo"
                    :rules="integerRule('tiempo')"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-textarea
                    label="Descripción"
                    v-model="servicio.descripcion"
                    counter="255"
                    :rules="descriptionRule('descripcion')"
                    required
                  ></v-textarea>
                </v-col>

                <v-col cols="12" v-if="!editImg">
                  <v-file-input
                    v-model="servicio.img"
                    accept="image/png, image/jpeg, image/bmp"
                    prepend-icon="mdi-camera"
                    label="Imagen"
                    :rules="imgRule('imagen')"
                  ></v-file-input>
                </v-col>
                <v-col cols="12" v-else>
                  <v-alert
                    color="pink lighten-1"
                    dense
                    text
                    class="rounded-xl pa-4"
                  >
                    <v-row class="pr-2 pt-2">
                      <v-spacer></v-spacer>
                      <v-btn
                        icon
                        @click="
                          servicio.img = [];
                          editImg = false;
                        "
                      >
                        <v-icon>mdi-close</v-icon>
                      </v-btn>
                    </v-row>
                    <v-row>
                      <v-col>
                        <v-img
                          class="white--text align-end"
                          width="200"
                          max-height="200"
                          :src="img(servicio.img)"
                        >
                        </v-img>
                      </v-col>
                    </v-row>
                  </v-alert>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
        <!-- Start. Card footer -->
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="close" class="primary-button-icon">
            Cancelar
          </v-btn>
          <v-btn dark depressed class="primary-button" @click="submit">
            Guardar
          </v-btn>
        </v-card-actions>
        <!-- End. Card title -->
      </v-card>
      <v-card v-else>
        <div class="pa-8 text-button text-center">
          Es necesario agregar personal al establecimiento para poder ingresar
          un servicio.
        </div>
      </v-card>
    </div>
  </v-dialog>
</template>

<script>
import ServiciosService from "../../services/servicios.service";
import Loader from "../loaders/circular";
import { API_IMG } from "../../helpers/_api";
import NotificationMixin from "../../mixins/notification.mixin";
import validacionesMixin from '../../mixins/validaciones.mixin.vue';

export default {
  name: "ServiciosFormDialog",
  mixins: [NotificationMixin, validacionesMixin],
  components: {
    Loader,
  },
  props: {
    dialog: Boolean,
    isEdit: Boolean,
    data: Object,
    idEstablecimiento: Number,
  },
  data() {
    return {
      personal: [],
      loading: true,
      editImg: false,
      servicio: {
        nombre: "",
        precio: "",
        img: [],
        tiempo: "",
        descripcion: "",
        personal_id: "",
        establecimiento_id: "",
      },
    };
  },
  methods: {
    close() {
      this.$emit("close", false);
    },
    img(img) {
      return API_IMG(img);
    },
    submit() {
      var isValid = this.validateField(this.$refs.form);
      if (isValid) {
        if (this.isEdit) {
          ServiciosService.update(this.toFormData(), this.data.id).then(
            (data) => {
              this.$emit("editData", data);
              this.success("Servicio editado!");
              this.close();
            },
            () => {
              this.error("Ha ocurrido un error");
            }
          );
        } else {
          ServiciosService.store(
            this.toFormData(),
            this.idEstablecimiento
          ).then(
            (data) => {
              this.success("Servicio agregado!");
              this.$emit("updateData", data);
              this.close();
            },
            () => {
              this.error("Ha ocurrido un error");
            }
          );
        }
      } else {
        this.error("Formulario invalido");
      }
    },
    toFormData() {
      var formData = new FormData();
      formData.append("nombre", this.servicio.nombre);
      formData.append("precio", this.servicio.precio);
      formData.append("tiempo", this.servicio.tiempo);
      formData.append("descripcion", this.servicio.descripcion);
      formData.append("personal_id", this.servicio.personal_id);
      formData.append("establecimiento_id", this.servicio.establecimiento_id);
      formData.append("img", this.servicio.img);
      formData.append("editImg", this.editImg);

      return formData;
    },
    updateData() {
      this.servicio.nombre = this.data.nombre;
      this.servicio.precio = this.data.precio;
      this.servicio.tiempo = this.data.tiempo;
      this.servicio.descripcion = this.data.descripcion;
      this.servicio.personal_id = this.data.personal_id;
      this.servicio.establecimiento_id = this.idEstablecimiento;
      this.servicio.img = this.data.img;
    },
  },
  mounted() {
    if (this.isEdit) {
      this.updateData();
      this.editImg = true;
    }
    ServiciosService.getPersonal(this.idEstablecimiento).then(
      (data) => {
        this.personal = data;
        this.loading = false;
      },
      () => {
        this.error("Ha ocurrido un error");
        this.loading = false;
      }
    );
  },
};
</script>

<style>
</style>